# macOS junk
.DS_Store

# ignore big derived outputs
assignments/assignment_3/tair10.tsv
*.tsv


# ignore large data folders in assignments
assignments/**/data/

# optional: ignore compressed & genome files
*.fna
*.fa
*.fna.gz
*.fastq
*.gz
*.gff

